@using Chapter3.Recipe11
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<p>This code is explained in Recipe 3-11</p>
<h1>Please Log-in</h1>
@using (Html.BeginForm())
{

   <div class="form-group">
       @Html.Label("EmailAddress", "Email address", new { @for="exampleInputEmail"})
       @Html.TextBox("exampleInputEmail","",new { placeholder = "Enter email", @class="form-control", type = "email" })
  </div>
  <div class="form-group">
      @Html.Label("exampleInputPassword1", "Password", new { @for = "exampleInputPassword" })
      @Html.Password("exampleInputPassword","", new { placeholder = "Password", @class="form-control" })
  </div>
  <div class="checkbox">
    <label>
        @Html.Label("RememberMeLable", "Remember Me", new { @for = "RememberMe" })
        @Html.CheckBox("RememberMe", false)
    </label>
  </div>
  <button type = "submit" class="btn btn-default">Submit</button>

}

