@model Chapter05.Recipe11.Web.Dog

<h3>@Model.Name</h3>
<div class="row">
    <div class="col-md-6">@Html.LabelFor(m=>m.Breed):</div>
    <div class="col-md-6">@Model.Breed</div>
</div>
<div class="row">
    <div class="col-md-6">@Html.LabelFor(m => m.Birthday)</div>
    <div class="col-md-6">@Model.Birthday.ToShortDateString()</div>
</div>
<div class="row">
    <div class="col-md-6">@Html.LabelFor(m => m.IsFluffy)</div>
    <div class="col-md-6">@Model.IsFluffy</div>
</div>