@using Microsoft.Framework.ConfigurationModel
@model Configuration
@{
    ViewBag.Title = "About";
}
@helper displayItem(IEnumerable<KeyValuePair<string,IConfiguration>> items, int level) {
        @foreach (var item in items)
        {
            var builder = new TagBuilder("H" + level);
            builder.SetInnerText(item.Key);
            @builder.ToHtmlString(TagRenderMode.Normal)
            @Model.Get(item.Key)
            @item.Value.Get(item.Key)
           
            @displayItem(item.Value.GetSubKeys(), level + 1)


        }
        }
<h1>This is a dump of the configuration</h1>
@displayItem(Model.GetSubKeys(),2)
